---
- name: Create key pair
  amazon.aws.ec2_key:
    name: "{{ key_name }}"
  register: key_result

- name: Save private key
  copy: content="{{ key_result.key.private_key }}" dest="./{{ key_name }}.pem" mode=0600
  when: key_result.changed
